@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(121, 121, 121);
  margin-bottom: 100px;
}
.pagination li {
  border: 1px solid rgba(128, 128, 128, 0.274);

  border-radius: 4px;
  cursor: pointer;
}
.pagination li a {
  padding: 5px 10px;
}
.pagination li:active {
  border: 1px solid #155e75;
  color: #155e75;
}

.pagination li:hover {
  border: 1px solid #155e75;
  color: #155e75;
}
